{% extends 'baseportal.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="col-md-6 offset-md-3">
        <h5 class="text-warning"><small>To change your details fill the form below and click "Change Profile"</small></h5>
         <form method="POST" action="{% url 'edit_profile' %}">
            {% csrf_token %}
            {{ user_form|crispy }}
             {{ profile_form|crispy }}

             <input type="submit" value="Change Profile" class="btn btn-success">
        </form>
    </div>

{% endblock %}