{% extends 'base.html' %}

{% block content %}

{% load static %}

        <div class="hero">
            <div class="container">
                <div class="loginbox">
                     {% if messages %}
                             {% for msg in messages %}
                                 <small><p class="text-warning text-center"><small>{{ msg }}</small></p></small>
                             {% endfor %}
                     {% endif %}

                     <h1>Login Here</h1>
                    <img src="{% static '/images/customer.png' %}" class="avatar">

                    <form method="post">
                        {% csrf_token %}

                        <label for="InputUsername">Username</label>
                            <input type="text" class="form-control" id="InputUsername" name="username" placeholder="Enter Username">
                        <label for="InputPassword">Password</label>
                            <input type="password" class="form-control" id="InputPassword" name="password" placeholder="Enter Password">
                            <input type="submit" name="" value="Login">
                        <a style="text-decoration: none;" href="">Lost your password?</a><br>
                        <a style="text-decoration: none;" href="{% url 'register' %}">Don't have an account?</a>

                    </form>

                </div>
            </div>
        </div>

{% endblock %}